.container {
  border: solid;
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 500px;
  border: 1px solid grey;
  background: #bfd8f3;
}

.card {
  text-align: center;
}

button {
  color: #ffffff;
  background-color: #67a861;
  border-radius: 5%;
  padding: 2px 12px;
  font-size: 15px;
  border: 1px solid grey;
  line-height: 2;
}

.cityinformation {
  font-weight: lighter;
}

#bigicon {
  font-size: 50px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}

.degree {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
.unit {
  position: relative;
  top: -16px;
}

#fahrenheit-unit {
  text-decoration: none;
  color: black;
}

#celsius-unit {
  text-decoration: none;
  color: black;
}

#entercity {
  width: 80%;
  line-height: 2;
  border: 1px solid grey;
}

.fa-cloud-moon,
.fa-cloud-moon-rain {
  font-size: 30px;
  color: grey;
}

.card-text {
  font-size: 30px;
}

.card-title {
  font-size: 15px;
}

#searchbutton {
  background: #ffffff;
  border-radius: 5%;
  border: 1px solid;
  border-color: grey;
  line-height: 2;
}

#underline-text {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#underline-link {
  text-decoration: none;
}
